a:hover {
    text-decoration: none;
}
.artists .artist {
    height: 270px;
    width: 264px;
    float: left;
    margin: 1em;
}
.artists .artist a {
    max-height: 270px;
}
.artists .artist a img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    max-height: 230px;
    max-width: 254px;
}
.albums .album {
    margin-bottom: 1em;
}
div.albumcover {
    margin-bottom: 1em;
}
footer {
    padding: 40px 20px;
    display: block;
    clear: both;
}
ul {
    list-style: none;
}
li.active {
    font-weight: bold;
}
#progressbar {
    width: 0%;
}
#playlist li:hover {
    background-color: rgb(255, 255, 255);
}
li.track .remove {
    width: 30px;
    float: right;
    visibility: hidden;
    text-align: center;
}
li.track:hover .remove {
    visibility: visible;
}
#playlist li.track .title:not(active):hover {
    cursor: pointer;
    color: blue;
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
