<ul class="albums span2">
    <li ng-repeat="_album in artist.albums" class="album">
        <a href="#/{{ artist.slug }}/{{ _album.slug }}" class="thumbnail" width="160" height="160"><img ng-src="{{ _album.cover }}" alt="{{ _album.name }}" title="{{ _album.name }}"></a>
    </li>
</ul>
<div class="tracks span3">
    <h6>
        {{ album.name }} ({{ year }})
    </h6>

    <img id="albumcover" ng-src="{{ album.cover }}" alt="{{ album.name }}" class="albumcover img-rounded" ng-click="addAlbum(album)">

    <h5>
        by {{ artist.name }}
    </h5>

    <ol>
        <li ng-repeat="_track in album.tracks">
            <a href="#/{{ artist.slug }}/{{ album.slug }}/{{ _track.id }}">{{ _track.title }}</a>
        </li>
    </ol>
</div>
<div class="span6">
    <h6>
        Now Playing
    </h6>
    <div class="well">
        <h2>{{title}}</h2>
        <div id="progress" class="progress-striped">
            <div id="progressbar" style="width: 0%;"></div>
        </div>
        <div class="time">
            <span id="timeelapsed">0:00</span> / <span id="timetotal">0:00</span>
        </div>
        <div class="controls">
            <div class="btn-group">
                <button id="play" class="btn btn-loading" ng-click="playToggle()"><i class="icon-play"></i></button>
                <button id="back" class="btn btn-back" ng-click="playPrev()"><i class="icon-step-backward"></i></button>
                <button id="next" class="btn btn-next" ng-click="playNext()"><i class="icon-step-forward"></i></button>
            </div>
        </div>
    </div>

    <h6>
        Playlist
    </h6>
    <div class="well">
        <ol>
            <li ng-repeat="_track in playlist.tracks">
                {{ _track.title }}
            </li>
        </ol>
    </div>
</div>
