<ul class="albums span2">
    <li ng-repeat="_album in artist.albums" class="album">
        <a href="#/{{ artist.slug }}/{{ _album.slug }}" class="thumbnail" width="160" height="160"><img ng-src="{{ _album.cover }}" alt="{{ _album.name }}" title="{{ _album.name }}"></a>
    </li>
</ul>
<div class="tracks span3">
    <h6>
        {{ album.name }} ({{ year }})
    </h6>

    <div class="albumcover">
        <img id="albumcover" ng-src="{{ album.cover }}" alt="{{ album.name }}" class="albumcover img-rounded">
    </div>
    <a href="" ng-click="playlist.addAlbum(album)">Add album to playlist</a>

    <h5>
        by {{ artist.name }}
    </h5>

    <ol>
        <li ng-repeat="_track in album.tracks">
            <a href="" ng-click="playlist.addOne(_track)">{{ _track.title }}</a>
        </li>
    </ol>
</div>
<div class="span6">
    <h6>
        Now Playing
    </h6>
    <div class="well">

        <h6>
            {{ player.track.title }}&nbsp;
        </h6>
        <div class="progress progress-striped">
            <div id="progressbar" class="bar" style="width: {{ player.elapsed.percent }}%"></div>
        </div>
        <div class="time">
            <span id="timeelapsed">{{ player.elapsed.minutes }}:{{ player.elapsed.seconds }}</span> / <span id="timetotal">{{ player.duration.minutes }}:{{ player.duration.seconds }}</span>
            (<span id="bitrate" ng-bind="player.bitrate">0</span> kbps)
        </div>
        <div class="controls">
            <div class="btn-group">

                <button title="Play" ng-show="!player.isPlaying()" id="play" class="btn btn-play" ng-click="player.togglePlay()"><i class="icon-play"></i></button>
                <button title="Pause" ng-show="player.isPlaying()" id="play" class="btn btn-pause" ng-click="player.togglePlay()"><i class="icon-pause"></i></button>

                <button title="Play previous track" id="back" class="btn btn-back" ng-click="playlist.prev()"><i class="icon-step-backward"></i></button>
                <button title="Play next track" id="next" class="btn btn-next" ng-click="playlist.next()"><i class="icon-step-forward"></i></button>
            </div>
        </div>
    </div>

    <h6>
        Playlist
    </h6>
    <div class="well">
        <div ng-hide="playlist.tracks.length">
            No tracks in the playlist
        </div>
        <ol id="playlist">
            <li id="track{{ $index }}" ng-repeat="_track in playlist.tracks"
                ng-class="{track: 1, active: $index==playlist.index}">
                <span class="title" ng-click="playlist.stop(); playlist.play($index)">{{ _track.title }}</span>
                <a href="" class="remove" title="Remove track" ng-click="playlist.removeTrack($index)">x</a>
            </li>
        </ol>
    </div>
</div>
